## WikiTables_population_US_states

In [1]:
import pandas as pd

In [18]:
url  = 'https://simple.wikipedia.org/wiki/List_of_U.S._states_by_population'
df = pd.read_html(url)[0]
df.head(5)

,"Rank in the fifty states, 2019","Rank in states & territories, 2010",State,"Population estimate, July 1, 2019[2]","Census population, April 1, 2010[3]","Percent change, 2010–2019[note 1]","Absolute change, 2010-2019","Total seats in the U.S. House of Representatives, 2013–2023","Estimated population per electoral vote, 2019[note 2]","Estimated population per House seat, 2019","Census population per House seat, 2010","Percent of the total U.S. population, 2018[note 3]"
0,NaN,NaN,California,39512223,37254523,6.1%,"+2,257,700",NaN,718404,745514,702885,11.96%
1,NaN,NaN,Texas,28995881,25145561,15.3%,"+3,850,320",NaN,763050,805441,698503,8.68%
2,NaN,NaN,Florida,21477737,18801310,14.2%,"+2,676,427",NaN,740611,795472,696468,6.44%
3,NaN,NaN,New York,19453561,19378102,0.4%,"+75,459",NaN,670812,720502,717707,5.91%
4,NaN,NaN,Pennsylvania,12801989,12702379,0.8%,"+99,610",NaN,640099,711222,705715,3.87%

Ok, that's kind of a mess, but Pandas can make short work of it.

In [31]:
df_pop = df[df.columns[2:4]]
df_pop.columns = ['state', 'population']
df_pop.sort_values('state')
df_pop = df_pop.sort_values('state')
df_pop.set_index('state', inplace=True)
df_pop

                                             population
state
Alabama                                         4903185
Alaska                                           731545
American Samoa                                    55641
Arizona                                         7278717
Arkansas                                        3017825
California                                     39512223
Colorado                                        5758736
Connecticut                                     3565287
Contiguous United States                      325386357
Delaware                                         973764
District of Columbia                             705749
Fifty states + D.C.                           328239523
Florida                                        21477737
Georgia                                        10617423
Guam                                             165718
Hawaii                                          1415872
Idaho                                           1792065
Illinois                                       12671821
Indiana                                         6732219
Iowa                                            3155070
Kansas                                          2913314
Kentucky                                        4467673
Louisiana                                       4648794
Maine                                           1344212
Maryland                                        6045680
Massachusetts                                   6949503
Michigan                                        9986857
Minnesota                                       5639632
Mississippi                                     2976149
Missouri                                        6137428
Montana                                         1068778
Nebraska                                        1934408
Nevada                                          3080156
New Hampshire                                   1359711
New Jersey                                      8882190
New Mexico                                      2096829
New York                                       19453561
North Carolina                                 10488084
North Dakota                                     762062
Northern Mariana Islands                          55194
Ohio                                           11689100
Oklahoma                                        3956971
Oregon                                          4217737
Pennsylvania                                   12801989
Puerto Rico                                     3193694
Rhode Island                                    1059361
South Carolina                                  5148714
South Dakota                                     884659
Tennessee                                       6833174
Texas                                          28995881
The fifty states                              327533795
Total U.S. (including D.C. and territories)   331814684
U.S. Virgin Islands                              104914
Utah                                            3205958
Vermont                                          623989
Virginia                                        8535519
Washington                                      7614893
West Virginia                                   1787147
Wisconsin                                       5822434
Wyoming                                          578759

Now let's try to fill in 2-letter postal codes.

In [44]:
url = 'https://simple.wikipedia.org/wiki/U.S._postal_abbreviations#States'
df_state_postal_codes = pd.read_html(url, skiprows=1, header=0)[0]
df_state_postal_codes.columns = ['postal_code', 'state']
df_state_postal_codes.set_index('state', inplace=True)
df_state_postal_codes

               postal_code
state
Alaska                  AK
Alabama                 AL
Arkansas                AR
Arizona                 AZ
California              CA
Colorado                CO
Connecticut             CT
Delaware                DE
Florida                 FL
Georgia                 GA
Hawaii                  HI
Iowa                    IA
Idaho                   ID
Illinois                IL
Indiana                 IN
Kansas                  KS
Kentucky                KY
Louisiana               LA
Massachusetts           MA
Maryland                MD
Maine                   ME
Michigan                MI
Minnesota               MN
Missouri                MO
Mississippi             MS
Montana                 MT
North Carolina          NC
North Dakota            ND
Nebraska                NE
New Hampshire           NH
New Jersey              NJ
New Mexico              NM
Nevada                  NV
New York                NY
Ohio                    OH
Oklahoma                OK
Oregon                  OR
Pennsylvania            PA
Rhode Island            RI
South Carolina          SC
South Dakota            SD
Tennessee               TN
Texas                   TX
Utah                    UT
Virginia                VA
Vermont                 VT
Washington              WA
Wisconsin               WI
West Virginia           WV
Wyoming                 WY

In [50]:
df_state_postal_codes.at['Wyoming', 'postal_code']

'WY'

In [58]:
df_state_populations = df_state_postal_codes.merge(df_pop, left_index=True, right_index=True).reset_index()
df_state_populations

             state postal_code  population
0           Alaska          AK      731545
1          Alabama          AL     4903185
2         Arkansas          AR     3017825
3          Arizona          AZ     7278717
4       California          CA    39512223
5         Colorado          CO     5758736
6      Connecticut          CT     3565287
7         Delaware          DE      973764
8          Florida          FL    21477737
9          Georgia          GA    10617423
10          Hawaii          HI     1415872
11            Iowa          IA     3155070
12           Idaho          ID     1792065
13        Illinois          IL    12671821
14         Indiana          IN     6732219
15          Kansas          KS     2913314
16        Kentucky          KY     4467673
17       Louisiana          LA     4648794
18   Massachusetts          MA     6949503
19        Maryland          MD     6045680
20           Maine          ME     1344212
21        Michigan          MI     9986857
22       Minnesota          MN     5639632
23        Missouri          MO     6137428
24     Mississippi          MS     2976149
25         Montana          MT     1068778
26  North Carolina          NC    10488084
27    North Dakota          ND      762062
28        Nebraska          NE     1934408
29   New Hampshire          NH     1359711
30      New Jersey          NJ     8882190
31      New Mexico          NM     2096829
32          Nevada          NV     3080156
33        New York          NY    19453561
34            Ohio          OH    11689100
35        Oklahoma          OK     3956971
36          Oregon          OR     4217737
37    Pennsylvania          PA    12801989
38    Rhode Island          RI     1059361
39  South Carolina          SC     5148714
40    South Dakota          SD      884659
41       Tennessee          TN     6833174
42           Texas          TX    28995881
43            Utah          UT     3205958
44        Virginia          VA     8535519
45         Vermont          VT      623989
46      Washington          WA     7614893
47       Wisconsin          WI     5822434
48   West Virginia          WV     1787147
49         Wyoming          WY      578759

So this is looking pretty usable.  Save it in CSV for use by analysis programs.

In [64]:
df_state_populations.to_csv('data/populations_vs_state.csv', index=False)